/* ------------------------- RESET ------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul,
ol {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
ul,
ol {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
article > * + * {
  margin-top: 1em;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* ------------------------- RESET ------------------- */

/* ----------------------- GLOBAL -------------------- */
html {
  font-size: 62.5%;
}
body {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  background-color: #FFF5E8;
}
a {
  text-decoration: none;
}
a:link {
  color: #23211e;
}
a:visited {
  color: #23211e;
}
a:hover {
  color: #b490ff;
}
#about {
  color: #23211e;
  text-decoration: none;
}
#work {
  color: #23211e;
  text-decoration: none;
}
/* ----------------------- GLOBAL -------------------- */

/* ----------------------- HEADER -------------------- */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2.1rem 2.5rem 0rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #23211e;
}
.logo-header {
  display: flex;
  align-items: baseline;
  width: auto;
}
.logo-header svg {
  margin-right: 1rem;
}
#logo a {
  color: #b490ff;
  font-weight: bold;
  font-size: 2.3rem;
}
nav {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 3.1rem;
  line-height: 3.9rem;
  width: auto;
}
.nav-links {
  display: none;
}
#menu-open {
  display: inline;
  padding-right: 0;
}
#dark-light-mode {
  display: none;
}
@media (min-width: 72em) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.2rem;
    margin: 5.4rem 8rem 0rem;
  }
  .logo-header {
    display: flex;
    align-items: flex-end;
  }
  .logo-header svg {
    margin-right: 3rem;
  }
  nav {
    font-family: "Lora", serif;
    font-weight: 700;
    font-size: 2.3rem;
    line-height: 2.9rem;
    width: 180px;
  }
  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  li {
    display: inline;
  }
  #menu-open {
    display: none;
  }
  #dark-light-mode {
    display: none;
  }
}
/* ---------------------- HEADER ------------------- */

/* ---------------- MENU FOR MOBILE ---------------- */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #b490ff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

.sidenav a {
  padding: 6rem 0 0;
  text-decoration: none;
  font-size: 25px;
  color: #f4eadd;
  display: block;
  transition: 0.3s;

  font-size: 3.1rem;
  line-height: 3.9rem;
}

.sidenav .closebtn {
  position: absolute;
  top: 22px;
  right: 25px;
}
/* ---------------- MENU FOR MOBILE ---------------- */

/* ----------------------- MAIN -------------------- */
main {
  margin: 5rem 2.5rem 2rem;
}
#main-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;  
  margin-bottom: 4rem;
  border-bottom: 1px solid #cec5b9;
}
.title {
  color: #7D756B;
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 4.9rem;
  line-height: 5.2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
h1 {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 3.9rem;
  line-height: 5rem;
  color: #23211e;
  margin-bottom: 4rem;
}
h2 {
  color: #23211e;
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 4.9rem;
  line-height: 6.2rem;
  text-transform: capitalize;
  padding-bottom: 3rem;
  text-align: center;
}
h3 {
  font-family: "Lora", serif;
  font-weight: 700;
  color: #23211e;
  font-size: 3.2rem;
  line-height: 3.2rem;
}
p {
  font-size: 2rem;
  line-height: 2.2rem;
  color: #23211e;
}
.description {
  text-align: center;
  max-width: 72rem;
  padding-bottom: 5rem;
}
.bold-text {
  font-weight: bolder;
  color: #b490ff;
}
.link-hidden-page {
  display: none;
  padding-bottom: 1rem;
  text-decoration: underline;
  font-size: 2rem;
  color: #b490ff;
}
.link-hidden-page p {
  text-decoration: underline;
  color: #b490ff;
}
#work-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #cec5b9;
  margin-bottom: 5rem;  
}
.work-description {
  margin-bottom: 5rem;  
}
.project-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem; 
}
.project-screen img {
  margin-bottom: 5rem;  
}
.project-screen.reverse {
  align-items: center;
}
.project-description {
  max-width: 72rem;
}
.project-description p {
  font-size: 2rem;
  margin: 3rem 0 2rem;
}
.project-description a {
  font-size: 2rem;
  line-height: 2.6rem;
  text-decoration: underline;
  font-weight: bolder;
  margin-bottom: 3rem;
}
.project-category {
  color: #7D756B;
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 2.5rem;
}
.project-details h3 {
  font-size: 3.2rem;
}
.about-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #cec5b9;
  margin-bottom: 5rem;
}
.studies {
  align-self: flex-start;  
}
.the-section h3 {
  border-top: 0;
}
.the-section p {
  max-width: 55rem;
}
.the-section img {
  margin: 2rem 0;
}
.wrapper h4, .the-section h4 {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 2.5rem;
  padding: 2rem 0;
}
.text-wrapper-flex {
  margin-top: 4rem;
}
.img-wrapper-flex p {
  margin-bottom: 2rem;
}
.the-section.left {
  padding-bottom: 2rem;
}
@media (min-width: 82em) {
  body {
    max-width: 144rem;
    margin: auto;
  }
  main {
    margin: 10rem 12rem 2rem;
  } 
  #main-screen {
    margin-bottom: 7rem;
    min-width: 600px;
  }
  .title {
    font-size: 9rem;
    line-height: 8rem;
  }
  h1 {
    font-size: 6.4rem;
    line-height: 8rem;
  }
  h2 {
    font-family: "Lora", serif;
    font-weight: 700;
    font-size: 9rem;
    line-height: 8rem;
    margin-top: 2.3rem;
    text-align: center;
  }
  h3 {
    font-size: 6.4rem;
    line-height: 5.7rem;
    padding-bottom: 0;
  }
  p {
    font-size: 2.3rem;
    line-height: 2.5rem;
  }
  .description {
    max-width: 63.7rem;
  }
  .link-hidden-page {
    align-self: flex-end;  
  }
  .work-description {
    margin-bottom: 14rem;  
  }
  .project-screen {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 8rem;
  }
  .project-screen img {
    margin-right: 10rem;
    margin-bottom: 0;  
  }
  .project-screen.reverse {
    flex-direction: row-reverse;
    align-items: flex-start;
  }
  .project-screen.reverse img {
    margin: 0 0 0 10rem; 
  }
  .project-category {
    font-size: 3.9rem;
    padding-bottom: 0;
  }
  .project-description p {
    font-size: 2rem;
    margin: 3rem 0 4rem;
  }
  .project-details p {
    margin: 2rem 0;
  }
  .project-details h3 {
    font-size: 4.5rem;
  }
  .wrapper-flex {
    display: flex;
  }
  .img-wrapper-flex img {
    margin: 4rem 4rem 4rem 0;
  }
  .text-wrapper-flex {
    margin: 4rem 4rem 4rem 0;
  }
  .the-section h4, .wrapper h4 {
    font-size: 3.2rem;
  }
  .the-section.left {
    align-self: flex-start;
  }
}
/* ----------------------- MAIN -------------------- */

/* ---------------------- CONTACT ------------------ */
#contact {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#contact h3 {
  font-size: 2.5rem;
  line-height: 3.2rem;
  padding-bottom: 2rem;
}
#contact p {
  padding-bottom: 3rem;
}
.contact-links a {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.2rem;
  text-decoration: underline;
}
.media {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}
.final-sentence {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 3.1rem;
  line-height: 3.9rem;
  padding: 3rem 0;
  color: #b490ff;
  padding: 6rem 0 3rem;
  text-align: center;
}
@media (min-width: 82em) {
  #contact .description {
    align-self: center;
  } 
  .contact-links {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
  }  
  #contact h3 {
    font-family: "Lora", serif;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4.1rem;
  }
  .contact-links a {
    font-size: 2.3rem;
  }
  .final-sentence {
    font-size: 6.4rem;
    line-height: 8.1rem;
    padding-top: 10rem;
  }
}
/* ---------------------- CONTACT ------------------ */

/* ---------------------- FOOTER ------------------ */
footer {
  display: flex;
  flex-direction: column;
  margin: 0 2.5rem 5rem;
  border-top: 1px solid #cec5b9;
}
footer #logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}
footer #logo a {
  padding: 3.5rem 0 0;
  text-decoration: underline;
  font-size: 2rem;
}
.logo-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.funny-link-mobile {
  display: none;
}
.funny-link-desktop {
  display: none;
}
@media (min-width: 82em) {
  footer {
    margin: 0 2.5rem 3rem;
  }
  footer #logo {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0;
  }
  footer #logo a {
    padding: 3.5rem 0 0 5rem;
    font-size: 2.3rem;
  }
  .logo-footer {
    display: flex;
    flex-direction: row-reverse;
  }
  .logo-footer svg {
    margin: 2rem 5rem 0 3rem;
  }
  .funny-link-mobile {
    display: none;
  }
  .funny-link-desktop {
    display: none;
    font-size: 1.6rem;
  }
}
/* ---------------------- FOOTER ------------------ */