/*RESET*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul,
ol {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  transition: 0.6s ease-in;
}
ul,
ol {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
article > * + * {
  margin-top: 1em;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*RESET*/
/*GLOBAL*/
/*Dark mode variables*/
:root {
  --background-color: #FFF5E8;
  --main-text-color: #23211E;
  --secondary-text-color: #7D756B;
  --highlight-color: #b490ff;
  --line-color: #23211E;
}
[data-theme="dark"] {
  --background-color: #23211E;
  --main-text-color: #FFF5E8;
  --secondary-text-color: #66DEB3;
  --highlight-color: #66DEB3;
  --line-color: #66DEB3;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  background-color: var(--background-color);
  color: var(--main-text-color);
}
a {
  text-decoration: none;
}
a:link {
  color: var(--main-text-color);
}
a:visited {
  color: var(--main-text-color);
}
a:hover {
  color: var(--highlight-color);
}
#about {
  text-decoration: none;
}
#work {
  text-decoration: none;
}
.gif {
  padding-top: 1rem;
  margin: auto;
}
.cool-stuff-list {
  font-size: 2rem;
  line-height: 2.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2rem;
  margin-top: 2rem;
}
/* ----------------------- GLOBAL -------------------- */

/* ----------------------- HEADER -------------------- */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.1rem 2.5rem 0rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid;
  align-items: center;
}
.logo-header {
  display: flex;
  align-items: center;
  width: auto;
}
.logo-header svg {
  margin-right: 1rem;
}
.logo-header-footer path {
  stroke: var(--main-text-color);
}
#logo {
  display: flex;
  align-items: flex-end;
}
#logo a {
  color: var(--highlight-color);
  font-weight: bold;
  font-size: 2.3rem;
  padding-top: 1rem;
}
nav {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 3.1rem;
  line-height: 3.9rem;
  width: auto;
}
.sidenav path {
  fill: var(--background-color);
}
.nav-links {
  display: none;
}
#menu-open {
  display: inline;
  padding-right: 0;
}
#menu-open path {
  stroke: var(--main-text-color);
}
.dark-light-mode.desktop {
  display: none;
}
@media (min-width: 72em) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.2rem;
    margin: 1.5rem 8rem 0rem;
  }
  .logo-header {
    display: flex;
    align-items: flex-end;
  }
  .logo-header svg {
    margin-right: 3rem;
  }
  nav {
    font-family: "Lora", serif;
    font-weight: 700;
    font-size: 2.3rem;
    line-height: 2.9rem;
    width: 25rem;
  }
  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  li {
    display: inline;
  }
  #menu-open {
    display: none;
  }
  .dark-light-mode.desktop {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .cool-stuff-list {
    font-size: 2.3rem;
    line-height: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2rem;
    margin-top: 2rem;
  }
  #buttonTop {
    display: none;
    position: fixed;
    bottom: 120px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
    background-color: var(--background-color);
    text-decoration: none;
    border: none;
    outline: none;
  }
  #buttonTop path, #buttonTop circle {
    fill: var(--highlight-color);
    stroke: var(--background-color);
  }
}
/* ---------------------- HEADER ------------------- */

/*---------------- DARK MODE ----------------*/
/*slider switch css */
.theme-switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 41px;
}
.theme-switch input {
  display: none;
}
.slider {
  border-radius: 34px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 3px solid var(--main-text-color);
  -webkit-transition: .6s;
  -moz-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}
.slider:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 35px;
  width: 35px;
  left: 7px;
  border: 3px solid var(--main-text-color);
  -webkit-transition: .6s;
  -moz-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}
input:checked + .slider:before {
  transform: translateX(45px);
}
.dark-light-mode {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 2rem 8rem;
}
.dark-light-mode svg {
  margin: 0 1rem;
}
.dark-light-mode path {
  fill: var(--main-text-color);
}
.sidenav {
  display: flex;
  flex-direction: column;
}
.dark-light-mode.mobile {
  display: flex;
  justify-content: center;
  padding-top: 6rem;
}
.dark-light-mode.mobile .slider {
  border: 3px solid var(--background-color);
}
.dark-light-mode.mobile .slider:before {
  border: 3px solid var(--background-color);
}
.dark-light-mode.mobile path {
  fill: var(--background-color);
}

/*---------------- DARK MODE ----------------*/

/* ---------------- MENU FOR MOBILE ---------------- */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--highlight-color);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

.sidenav a {
  padding: 6rem 0 0;
  text-decoration: none;
  font-size: 25px;
  color: var(--background-color);
  display: block;
  transition: 0.3s;
  font-size: 3.1rem;
  line-height: 3.9rem;
}

.sidenav .closebtn {
  position: absolute;
  top: 22px;
  right: 25px;
}
/* ---------------- MENU FOR MOBILE ---------------- */

/* ----------------------- MAIN -------------------- */
main {
  margin: 5rem 2.5rem 2rem;
}
#main-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;  
  margin-bottom: 4rem;
  border-bottom: 1px solid var(--main-text-color);
}
.title {
  color: var(--secondary-text-color);
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 4.9rem;
  line-height: 5.2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
h1 {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 3.9rem;
  line-height: 5rem;
  margin-bottom: 4rem;
}
h2 {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 4.9rem;
  line-height: 6.2rem;
  text-transform: capitalize;
  padding-bottom: 3rem;
  text-align: center;
}
h3 {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.2rem;
}
p {
  font-size: 2rem;
  line-height: 2.5rem;
}
.description {
  text-align: center;
  max-width: 72rem;
  padding-bottom: 5rem;
}
b {
  color: var(--highlight-color);
}
.link-hidden-page {
  display: none;
  padding-bottom: 1rem;
  text-decoration: underline;
  font-size: 2rem;
  color: var(--highlight-color);
}
.link-hidden-page p {
  text-decoration: underline;
  color: var(--highlight-color);
}
#work-screen, .about-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid;
  margin-bottom: 5rem;  
}
.work-description {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem; 
}
.project-screen img {
  margin-bottom: 5rem;  
}
.project-screen.reverse {
  align-items: center;
}
.project-description {
  max-width: 72rem;
}
.project-description p {
  font-size: 2rem;
  margin: 3rem 0 2rem;
}
.project-description a {
  font-size: 2rem;
  line-height: 2.6rem;
  text-decoration: underline;
  font-weight: bolder;
  margin-bottom: 3rem;
}
.project-category {
  color: var(--secondary-text-color);
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 2.5rem;
}
.project-details h3 {
  font-size: 3.2rem;
}
.studies {
  align-self: flex-start;  
}
.the-section h3 {
  border-top: 0;
  margin-top: 5rem;
}
.the-section p {
  max-width: 72rem;
}
.the-section img {
  margin: 2rem 0;
}
.wrapper h4, .the-section h4 {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 2.5rem;
  margin-top: 4rem;
}
.text-wrapper-flex p {
  margin-top: 2rem;
}
.img-wrapper-flex p {
  margin-bottom: 2rem;
}
.the-section.left {
  margin-bottom: 4rem;
}
@media (min-width: 82em) {
  body {
    max-width: 144rem;
    margin: auto;
  }
  main {
    margin: 5rem 12rem 2rem;
  } 
  #main-screen {
    margin-bottom: 7rem;
    min-width: 600px;
  }
  .title {
    font-size: 9rem;
    line-height: 8rem;
  }
  h1 {
    font-size: 6.4rem;
    line-height: 8rem;
  }
  h2 {
    font-size: 9rem;
    line-height: 8rem;
    margin-top: 2.3rem;
    text-align: center;
  }
  h3 {
    font-size: 6.4rem;
    line-height: 5.7rem;
    padding-bottom: 0;
  }
  p {
    font-size: 2.3rem;
    line-height: 3rem;
  }
  .description {
    max-width: 63.7rem;
  }
  .link-hidden-page {
    align-self: flex-end;  
  }
  .work-description {
    margin-bottom: 9rem;  
  }
  .project-screen {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 8rem;
  }
  .project-screen img {
    margin-right: 10rem;
    margin-bottom: 0;  
  }
  .project-screen.reverse {
    flex-direction: row-reverse;
    align-items: flex-start;
  }
  .project-screen.reverse img {
    margin: 0 0 0 10rem; 
  }
  .project-category {
    font-size: 3.9rem;
    padding-bottom: 0;
  }
  .project-description p {
    font-size: 2rem;
    margin: 3rem 0 4rem;
    line-height: 2.7rem;
  }
  .project-details p {
    margin: 2rem 0;
  }
  .project-details h3 {
    font-size: 4.5rem;
  }
  .wrapper-flex {
    display: flex;
  }
  .img-wrapper-flex img {
    margin: 4rem 4rem 4rem 0;
  }
  .text-wrapper-flex {
    margin: 2rem 4rem 4rem 0;
  }
  .the-section h4, .wrapper h4 {
    font-size: 3.2rem;
  }
  .the-section.left {
    align-self: flex-start;
  }
}
/* ----------------------- MAIN -------------------- */

/* ---------------------- CONTACT ------------------ */
#contact {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#contact h3 {
  font-size: 2.5rem;
  line-height: 3.2rem;
  margin-top: 4rem;
}
.contact-links p {
  margin: 2rem 0;
}
#contact .description {
  margin: auto;
  padding: 0;
}
.contact-links a {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.2rem;
  text-decoration: underline;
  margin-top: 2rem;
}
.media {
  display: flex;
  justify-content: space-evenly;
  padding: 0 2rem;
}
.media path {
  fill: var(--highlight-color);
}
.final-sentence {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 3.1rem;
  line-height: 3.9rem;
  padding: 3rem 0;
  color: var(--highlight-color);
  padding: 6rem 0 3rem;
  text-align: center;
}
@media (min-width: 82em) {
  #contact .description {
    align-self: center;
  } 
  .contact-links {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
  }  
  #contact h3 {
    font-size: 3.2rem;
    line-height: 4.1rem;
  }
  .contact-links a {
    font-size: 2.3rem;
  }
  .final-sentence {
    font-size: 6.4rem;
    line-height: 8.1rem;
    padding-top: 10rem;
  }
}
/* ---------------------- CONTACT ------------------ */

/* ---------------------- FOOTER ------------------ */
footer {
  display: flex;
  flex-direction: column;
  margin: 0 2.5rem 5rem;
  border-top: 1px solid;
}
footer #logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}
footer #logo a {
  padding: 3.5rem 0 0;
  font-size: 2rem;
}
.logo-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.funny-link-mobile {
  display: none;
}
.funny-link-desktop {
  display: none;
}
@media (min-width: 82em) {
  footer {
    margin: 0 2.5rem;
  }
  footer #logo {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  footer #logo a {
    padding: .5rem 0;
    font-size: 2.3rem;
  }
  .logo-footer {
    display: flex;
    flex-direction: row-reverse;
  }
  .logo-footer svg {
    margin: 2rem 5rem 1rem 3rem;
  }
  .funny-link-mobile {
    display: none;
  }
  .funny-link-desktop {
    display: none;
    font-size: 1.6rem;
  }
}
/* ---------------------- FOOTER ------------------ */