body {
    background-color: #B491FF;
    fill: #F4EADC;
}/*---------------- DARK LIGHT MODE ----------------*/
.switch {
  position: relative;
  display: inline-block;
  width: 107px;
  height: 47px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider.round {
  border-radius: 34px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 3px solid #F4EADC;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider.round:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 35px;
  width: 35px;
  left: 5px;
  border: 3px solid #F4EADC;
  -webkit-transition: .4s;
  transition: .4s;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider.round:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(50px);
}
#dark-light-mode {
    display: flex;
    align-items: center;
    margin: 4rem;
}
#dark-light-mode svg {
    padding: 0 1rem;
}
.dark {
    display: none;
}
.dark-light-mode {
    background-color: #66DEB3;
    fill: #23211E;
}
.dark-light-mode .slider.round {
    border: 3px solid #23211E;
}
.dark-light-mode .slider.round:before {
    border: 3px solid #23211E;
}
.dark-light-mode .dark {
    display: initial;
}
.dark-light-mode .light {
    display: none;
}